
html
{
        margin: -1px;
        border: -1px;
        padding: -1px;
}
body
{
        background: url('bg2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Questrial', sans-serif;
}
