html
{
        margin: -1px;
        border: -1px;
        padding: -1px;
}
body
{
        background: url('mobilewallpaper.jpg')
;        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Questrial', sans-serif;
}
::-webkit-scrollbar {display: none;}
ul
{
        display: block;
        width: 30%;
        margin: 15% auto;
        padding: 0;
        list-style: none;

        
}
ul.container {box-shadow: 0px 0px 0px #000;}
ul.submenu
{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background:rgba(220,219,219,.07);
}
a
{
        display: block;
        padding: 10px;
        color: #EEE;
        text-decoration: none;
        transition: all .3s ease;
        opacity: .5;

}
a:hover {color: #fff;transition: all .3s ease;}
a.parent {transition: all .3s ease;color: #555;background: #EEE;text-align: center;}
a.tab {transition: all .3s ease;opacity: 0.5;}
a.tab:hover {transition: all .3s ease;text-indent: 5px;opacity: 1; }
ul > li:hover > a.parent {transition: all .3s ease;opacity: .8;}

#searchForm {
  background-color: #151515;
  padding: 5px;
  margin-bottom: 5px; }
  #searchForm input, #searchForm select {
    background-color: #2f2f2f;
    border: 0;
    width: 50%;
    padding: 9px 10px; } 
 #searchForm select {
    width: 40%;
    margin-left: 1px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.75em;
    height: 32px;
    float: right; }
	
